<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!--学校数据访问 -->
	<bean id="schoolDao" class="ipower.studentbehaviors.dao.impl.SchoolDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--教师数据访问 -->
	<bean id="teacherDao" class="ipower.studentbehaviors.dao.impl.TeacherDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--班级数据访问 -->
	<bean id="classDao" class="ipower.studentbehaviors.dao.impl.ClassDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--学生数据访问 -->
	<bean id="studentDao" class="ipower.studentbehaviors.dao.impl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>