<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!--首页 -->
	<bean name="IndexAction" class="ipower.studentbehaviors.action.IndexAction">
		<property name="menuService" ref="MenuService"/>
		<property name="systemId" value="${current_systemId}"/>
	</bean>
	<!--菜单-->
	<bean name="MenuAction" class="ipower.studentbehaviors.action.MenuAction">
		<property name="menuService" ref="MenuService"/>
		<property name="systemId" value="${current_systemId}"/>
	</bean>
	<!--druid -->
	<bean name="DruidAction" class="ipower.studentbehaviors.action.DataSourceAction"/>
	<!--学校 -->
	<bean name="SchoolAction" class="ipower.studentbehaviors.action.SchoolAction">
		<property name="schoolService" ref="schoolService"/>
	</bean>
	<!--教师 -->
	<bean name="TeachersAction" class="ipower.studentbehaviors.action.TeachersAction"> 
		<property name="service" ref="teachersService"/>
	</bean>
	<!--班级 -->
	<bean name="ClassAction" class="ipower.studentbehaviors.action.ClassAction">
		<property name="service" ref="classService"/>
	</bean>
</beans>