<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!--菜单服务-->
	<bean id="MenuService" class="ipower.studentbehaviors.service.impl.MenuServiceImpl"> 
		<property name="menuFile" value="main_menus.xml"/>
	</bean>
	
	<!--学校服务 -->
	<bean id="schoolService" class="ipower.studentbehaviors.service.impl.SchoolServiceImpl">
		<property name="schoolDao" ref="schoolDao"/>
	</bean>
	<!--教师服务 -->
	<bean id="teachersService" class="ipower.studentbehaviors.service.impl.TeachersServiceImpl">
		<property name="teacherDao" ref="teacherDao"/>
	</bean>
	<!--班级服务 -->
	<bean id="classService" class="ipower.studentbehaviors.service.impl.ClassServiceImpl">
		<property name="classDao" ref="classDao"/>
	</bean>
	<!--学生服务 -->
	<bean id="studentService" class="ipower.studentbehaviors.service.impl.StudentServiceImpl">
		<property name="classDao" ref="classDao"/>
		<property name="studentDao" ref="studentDao"/>
	</bean>
	<!--同步学生服务 -->
	<bean id="syncDataService" class="ipower.studentbehaviors.service.impl.SyncDataServiceImpl">
		<property name="url" value="${sync_Url}"/>
		<property name="userName" value="${sync_UserName}"/>
		<property name="password" value="${sync_Password}"/>
		<property name="teacherDao" ref="teacherDao"/>
		<property name="classDao" ref="classDao"/>
		<property name="studentDao" ref="studentDao"/>
	</bean>
	<!--班主任服务 -->
	<bean id="headmasterService" class="ipower.studentbehaviors.service.impl.HeadmasterServiceImpl">
		<property name="headmasterDao" ref="headmasterDao"/>
		<property name="classDao" ref="classDao"/>
		<property name="teacherDao" ref="teacherDao"/>
	</bean>
	<!--用户服务 -->
	<bean id="userService" class="ipower.studentbehaviors.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="teacherDao" ref="teacherDao"/>
	</bean>
	<!--用户认证服务 -->
	<bean id="authentication" class="ipower.studentbehaviors.service.impl.UserAuthenticationServiceImpl">
		<property name="url" value="${login_Url}"/>
		<property name="userName" value="${login_UserName}"/>
		<property name="userPassword" value="${login_Password}"/>
		<property name="userService" ref="userService"/>
	</bean>
	<!--学生考勤服务 -->
	<bean id="attendanceService" class="ipower.studentbehaviors.service.impl.AttendanceServiceImpl">
		<property name="studentAbnAttendanceDao" ref="studentAbnAttendanceDao"/>
		<property name="studentDao" ref="studentDao"/>
	</bean>
	<!--学生考勤异常服务 -->
	<bean id="studentAbnAttendanceService" class="ipower.studentbehaviors.service.impl.StudentAbnAttendanceServiceImpl">
		<property name="studentAbnAttendanceDao" ref="studentAbnAttendanceDao"/>
		<property name="studentDao" ref="studentDao"/>
	</bean>
</beans>